
.a{
    background-color: rgb(175, 172, 172);
    
}
form{
    margin-right: 30px;

}
i{color: white;
    font-size: 30px;
  
}
.i-1{
   
    color: white;
    font-size: 30px;
   margin-left: 200px; padding-top: 230px;
}

.b{
    height: 200px;
    width: 40%;
    margin-left: 80px;
    
   
}
.encuesta{
    margin-left: 80px;
    background:url(imagenes/a3c9cedc8646e90f2dd0ccd5de4a3660.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 100%;
}
@media screen and (min-width:700px) {
    .la{
        max-width: 600px;
    }
}
.im{
    height: 500px;
    width: 100%;
    border-radius: 10px;
}
.p{
    background-color: rgb(240, 34, 34);
    color: white;
    border-radius: 10px;
}
.navbar-nav i {
    color: #000;
    font-size: 20px;
}

.os{
    padding: 20px;
   margin: 0px;
  
    
}


.os .row div{

height: 250px;
/* background: url(imagenes/6c33e4958b81624198a12348b5172982.jpg); */
background-repeat: no-repeat;
margin-top: 20px;
/* border: solid 3px orange;  */
color: wheat;
}
.k i{
    color: antiquewhite;
}
.k i:hover{
    color: red;
}
.r i{
    color: #2144e4;
}
.ima{
    height: 250px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.ima:hover{
    transform: scale(1.1);
}
p {
    text-align: center;
    color: rgb(194, 16, 40);
}
hr{border-top: 10px solid #000;
    margin: 20px 0;
   background-color: #000;
    margin-top: 320px;
    width: 100%;
}
.fut{
    height: 150px;
    background-color: #2144e4;

}
.fut i{
    margin-top: 200px;  
}
.fut img{
    padding: 60px;
}
